/*** general ***/   /* ادناه البنود العامة غير المرتبطة بهيدر او مين او فوتر */
body {
    background-color: #fee8d36e;
    font-family: "Fustat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


h1 {
    font-weight: 800;
    color: #fbca08 !important;
    text-shadow: 1px 1px 1px rgb(255, 136, 0); 
}

h2, h3 {
    font-weight: 800;
}

.fustat_heading {
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.wrapper {
    min-height: 100vh;
}

/* buttons & links & tables-head */

nav {
    /* background-color: #ffb700cb; */
    background-color: #fbb608c1;
}

nav a {
    font-size: 20px;
}

a {
    text-decoration: none !important;
    transition: all 0.3 ease-in-out !important;
}

a.main-link {
    color: #000000 !important;
}

a:hover {
    /* text-decoration: underline !important; */
    /* color: #ffe8ae !important; */
    transform: scale(1.02);
}


/* Change the main colors */
.btn-custom, .tables-custom, .thead-custom, .div-custom {
    background-color: #ff9900c3;
    border-color: #ff9900;
    color: #fff;  /* for text color */
}
.btn-custom:hover {
    background-color: #ff9900; /* slightly darker shade for hover */
    border-color: #f57c00;
}



/*** header ***/  /* ادناه البنود الموجوده داخل الهيدر */


/*** main ***/    /* ادناه البنود بداخل المين */
section {
    margin-top: 2rem;
}

/* cards */
.card-image {
    height: 160px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* products card */
.product-card-image {
    height: 300px; 
    overflow: hidden;
}

.product-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

/* part card */
.part-card {
    background-color: #fff;
}


/* forms */
form h5 {
    margin-top: 1rem;
}

form select {
    margin-top: 1rem;
}

.check-label {
    margin-left: 1rem;
}

.form-center {
    margin: 0 auto;
}



/*** footer ***/   /* ادناه البنود التي بداخل الفوتر */

footer {
    /* background-color: #ffce47cb; */
    background-color: #fbb608c1;
    /* background-color: #ffb700cb; */

    margin-top: 2rem;
    margin-bottom: 0;
}


/*** media queries ***/
@media (min-width: 1000px) {
    .card-image {
        height: 230px !important;
    }
}

