/*** general ***/   /* ادناه البنود العامة غير المرتبطة بهيدر او مين او فوتر */
.wrapper {
    min-height: 100vh;
}

a {
    text-decoration: none !important;
    transition: all 0.3 ease-in-out !important;
}

a.main-link {
    color: #000 !important;
}

a:hover {
    text-decoration: underline !important;
    color: #007BFF !important;
}

/*** header ***/  /* ادناه البنود الموجوده داخل الهيدر */


/*** main ***/    /* ادناه البنود بداخل المين */
section {
    margin-top: 2rem;
}

/* cards */
.card-image {
    height: 160px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* forms */
form h5 {
    margin-top: 1rem;
}

form select {
    margin-top: 1rem;
}

.check-label {
    margin-left: 1rem;
}



/*** footer ***/   /* ادناه البنود التي بداخل الفوتر */
footer p {
    margin-top: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
}


/*** media queries ***/
@media (min-width: 1000px) {
    .card-image {
        height: 230px !important;
    }
}