/*** general ***/   /* ادناه البنود العامة غير المرتبطة بهيدر او مين او فوتر */
body {
    background-color: #fee8d3;
}

.wrapper {
    min-height: 100vh;
}

nav {
    background-color: #ffb700cb;
}

nav a {}

a {
    text-decoration: none !important;
    transition: all 0.3 ease-in-out !important;
}

a.main-link {
    color: #000 !important;
}

a:hover {
    text-decoration: underline !important;
    color: #007BFF !important;
}

/*** header ***/  /* ادناه البنود الموجوده داخل الهيدر */


/*** main ***/    /* ادناه البنود بداخل المين */
section {
    margin-top: 2rem;
}

/* cards */
.card-image {
    height: 160px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* forms */
form h5 {
    margin-top: 1rem;
}

form select {
    margin-top: 1rem;
}

.check-label {
    margin-left: 1rem;
}

.form-center {
    margin: 0 auto;
}



/*** footer ***/   /* ادناه البنود التي بداخل الفوتر */

footer {
    /* background-color: #ffce47cb; */
    /* background-color: #fbb608c1; */
    background-color: #ffb700cb;

    margin-top: 2rem;
    margin-bottom: 0;
}


/*** media queries ***/
@media (min-width: 1000px) {
    .card-image {
        height: 230px !important;
    }
}